@font-face {
    font-family: "icomoon";
    src: url("../icons/fonts/icomoon.ttf") format("ttf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Supermercado One', cursive;
}
html{
    scroll-behavior: smooth;
    /* background-color: rgb(132,59,168); */
}
.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.dflex {
    display: flex;
}
.fbw {
    flex-wrap: wrap;
}
.clear {
    clear: both;
    display: block;
}
.table {
    display: table;
}
/* ALINHAMENTOS HORIZONTAIS */
.fbc{
    flex-direction: column;
}
.just-center {
    justify-content: center;
}
.just-sa {
    justify-content: space-around;
}
.just-sb {
    justify-content: space-between;
}
.just-start {
    justify-content: flex-start;
}
.just-end {
    justify-content: flex-end;
}
/* ALINHAMNETOS PP */
.alg-center {
    align-items: center;
}
.alg-start {
    align-items: flex-start;
}
.alg-end {
    align-items: flex-end;
}
.alg-base {
    align-items: baseline;
}
/* ALINHAMENTOS C/HIGHT */
.alg-cont-center {
    align-content: center;
}
.alg-cont-start {
    align-content: flex-start;
}
.alg-cont-end {
    align-content: flex-end;
}
.alg-cont-space {
    align-content: space-between;
}
.alg-cont-stretch {
    align-content: stretch;
}
.back-red {
    background: red;
}
/* COLUNAS DEFAULT 1200px*/
.w20 {
    width: calc(20% - 5px);
}
.w30 {
    width: calc(30% - 5px);
}
.w50 {
    width: calc(50% - 5px);
}
.w70 {
    width: calc(70% - 5px);
}
.w80 {
    width: calc(80% - 5px);
}
.w100 {
    width: 100%;
}
.h100 {
    height: 100%;
}
.conteudo {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right top, #051937, #171228, #190a1a, #12040d, #000000);
}
header {
    height: 90px;
    width: 100%;
    position: fixed;
}
header .header-items {
    display: flex;
    flex-direction: row;
    height: 90px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
header .header-items h2 {
    font-size: 26px;
    line-height: 36px;
    color: #fff;
}
header .header-items .logado {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    position: relative;
}
header .header-items .logado .profile-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .header-items .logado span {
    color: #fff;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 20px;
    line-height: 36px;
    margin-left: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
header .header-items .logado span::after {
    content: '';
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg class='w-6 h-6' fill='none' stroke='%23fff' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M19 9l-7 7-7-7'%3E%3C/path%3E%3C/svg%3E");
    position: relative;
    height: 20px;
    width: 20px;
    margin-left: 20px;
}
header .header-items .logado:hover .dropdown {
    opacity: 1;
    visibility: visible;
}
header .header-items .logado .dropdown {
    height: fit-content;
    width: 160px;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    transition: 0.32s;
    right: 0;
    top: 70px;
    background: #fff;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    border-radius: 9px;
    padding: 20px;
}
header .header-items .logado .dropdown ul {
    list-style: none;
}
header .header-items .logado .dropdown ul a {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 18px;
    text-decoration: none;
    line-height: 30px;
    color: #000000;
}
.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.player .album-foto {
    width: 400px;
    margin: 0 auto;
    display: block;
    height: 400px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.player h2 {
    color: #fff;
    margin: 30px auto auto;
    display: block;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
}
.player span {
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    margin: 30px auto auto;
    display: block;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}
audio {
    width: 40%;
    display: block;
    margin: 50px auto auto;
}
/* login */
.login {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    align-items: center;
    justify-content: center;
}
.login  form {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.login  form input {
    height: 50px;
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    border-right: 0px;
    margin-bottom: 40px;
}
.login  form input:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}
.login button {
    width: 50%;
    margin: 0 auto;
    display: block;
    padding: 0 56px;
    background-color: #fff;
    outline: 0;
    cursor: pointer;
    border: 0px !important;
    height: 40px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    border-radius: 8px;
}
.login a {
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    display: block;
    margin: 30px auto;
    color: #fff;
}
.perfil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.perfil .foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}
.perfil input {
    height: 50px;
    background-color: transparent;
    border-top: 0px;
    border-left: 0px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color: #fff;
    font-size: 16px;
    line-height: 26px;
    border-right: 0px;
    margin-bottom: 40px;
}
.perfil input:focus {
    outline: none;
    border-bottom: 1px solid #fff;
}
.perfil button {
    width: fit-content;
    margin: 0 auto;
    display: block;
    padding: 0 56px;
    background-color: #fff;
    outline: 0;
    cursor: pointer;
    border: 0px !important;
    height: 40px;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    border-radius: 8px;
}
@media screen and (max-width: 1366px) {
    .container {
        max-width: 1145px;
    }
    #p8-2 {
        display: none;
    }
}
@media screen and (max-width: 1280px) {
    .container {
        max-width: 100%;
        padding: 0 4%;
    }
    #p8-2 {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    .container {
        padding-left: 3%;
        padding-right: 3%;
    }
    .w20 {
        width: 100%;
    }
    .w30 {
        width: 100%;
    }
    .w50 {
        width: 100%;
    }
    .w70 {
        width: 100%;
    }
    .w80 {
        width: 100%;
    }
}